.movieList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 2rem;
  row-gap: 2rem;
  padding: 3rem;
}
.searchForm {
  margin-top: 2rem;
}
.textInput {
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background: #000003a6;
  color: white;
}
.textInput:focus {
  border: none;
  outline: none;
}
.btn {
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
.btn:focus {
  border: none;
  outline: none;
}
